{% extends 'admin_base.html' %} {% load static %} <br />
{% block title %}Product Verification{% endblock %} {% block body %}

<div align="center">
  <h1 style="color: #280a7c">Product Verification</h1>
</div>
<hr />
<form method="POST" action="">
  {% for service in services %}
  <table align="center" width="80%">
    <tr>
      <td style="width: 25%"><b>Service Id </b>&nbsp;</td>
      <td style="width: 45%">{{service.service_id}}</td>
    </tr>
    <tr>
      <td style="width: 25%"><b>Service Name </b>&nbsp;</td>
      <td style="width: 45%">{{service.service_name}}</td>
    </tr>
    <tr>
      <td style="width: 25%"><b>Service Type </b>&nbsp;</td>
      <td style="width: 45%">{{service.service_type}}</td>
    </tr>
    <tr>
      <td style="width: 25%"><b>Service Product </b>&nbsp;</td>
      <td style="width: 45%">{{service.service_product}}</td>
    </tr>
    <tr>
      <td style="width: 25%"><b>Service Decription </b>&nbsp;</td>
      <td style="width: 45%">{{service.service_description}}</td>
    </tr>
    <tr>
      <td><b>User </b> &nbsp;&nbsp</td>
      <td>{{service.user}}</td>
    </tr>
    <tr>
      <td>
        <button type="submit" class="btn btn-primary">
          <a href="/admingui/admin-verifyproduct/{{service.service_id}}/"
            >Verify Product</a
          >
        </button>
      </td>
      <td>
        <button type="submit" class="btn btn-primary">
          <a href="/admin/admin-cancelproduct/{{service.service_id}}/"
            >Cancel Product</a
          >
        </button>
      </td>
    </tr>
    <div>
      <hr />
    </div>
    {% endfor %}
  </table>
</form>
{% endblock %}
